{% extends 'cv/base.html' %} {% block content %}

<section class="assignments">
  <div class="container">
    <!-- ----------------Assignment No.1 ------------------------------ -->

    <div class="shadow">
      <div class="assignments__inner">
        <!-- ---------------- Table head -------------------------- -->

        <div class="assignments__grid_box">
          <div class="assignments__grid_item height_3_lines table_head">
            Date <br />(to–from)
          </div>
          <div class="assignments__grid_item height_3_lines table_head">
            Location
          </div>
          <div class="assignments__grid_item table_head short-term_n01_com">
            Company & <br />Reference person
          </div>
          <div class="assignments__grid_item table_head">Position</div>
          <div class="assignments__grid_item table_head">Duties</div>
        </div>
        <hr />
        <!-- ---------------- Table content -------------------------- -->
        <div class="assignments__grid_box">
          <div class="assignments__grid_item underline height_3_lines">
            <div class="assignments__grid_sub_item">26.05.2011</div>
            <div class="assignments__grid_sub_item">–</div>
            <div class="assignments__grid_sub_item">23.05.2011</div>
          </div>
          <div class="assignments__grid_item underline height_3_lines">
            <div class="assignments__grid_sub_item">Kaliningrad</div>
            <div class="assignments__grid_sub_item">(Russia)</div>
            <div class="assignments__grid_sub_item">
              <div class="assignments__image">
                <img
                  src="../../static/cv/images/images/icons8-россия-48.png"
                  alt="Russian flag"
                />
              </div>
            </div>
          </div>

          <div class="assignments__grid_item underline short-term_n01_com">
            <div class="assignments__item_inner">
              <div class="assignments__entity">
                <div class="assignments__sub-entity">
                  <div class="assignments__image flag">
                    <img
                      src="../../static/cv/images/images/icons8-дания-48.png"
                      alt="Danish flag"
                    />
                  </div>
                  <div class="assignments__grid_sub_item text-left">
                    NORDEN, Nordic Council of Ministers, <br />Information
                    Office in Kaliningrad
                  </div>
                </div>
              </div>
              <div class="assignments__entity">Reference person:</div>
              <div class="assignments__entity">Arne Grove, Director</div>
              <div class="assignments__entity">
                office 6, str. Chernyakhovski, Kaliningrad, 236040, Russia
              </div>
              <div class="assignments__entity">
                tel. +7 4012 616972<br />
                info@norden39.ru | www.norden39.ru
              </div>
            </div>
          </div>

          <div class="assignments__grid_item underline">
            <div class="assignments__grid_sub_item">Trainer / Moderator</div>
          </div>
          <div class="assignments__grid_item">
            <div class="assignments__grid_sub_item text-left">
              Execution of 2-day seminar on Project Cycle Management in the
              framework of 4-day Spring Session of Baltic Sea Region Rotating
              Energy Planning Academy (BALREPA), organised by NORDEN – Nordic
              Council of Ministers Information Office in Kaliningrad
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ----------------Assignment No.2 ------------------------------ -->

    <div class="shadow">
      <div class="assignments__inner">
        <!-- ---------------- Table head -------------------------- -->

        <div class="assignments__grid_box">
          <div class="assignments__grid_item height_3_lines table_head">
            Date <br />(to–from)
          </div>
          <div class="assignments__grid_item height_3_lines table_head">
            Location
          </div>
          <div class="assignments__grid_item table_head short-term_n02_com">
            Company & <br />Reference person
          </div>
          <div class="assignments__grid_item table_head short-term_n02_pos">
            Position
          </div>
          <div class="assignments__grid_item table_head">Duties</div>
        </div>
        <hr />
        <!-- ---------------- Table content -------------------------- -->
        <div class="assignments__grid_box">
          <div class="assignments__grid_item underline height_3_lines">
            <div class="assignments__grid_sub_item">01.07.2008</div>
            <div class="assignments__grid_sub_item">–</div>
            <div class="assignments__grid_sub_item">24.06.2008</div>
          </div>
          <div class="assignments__grid_item underline height_3_lines">
            <div class="assignments__grid_sub_item">Ekaterinburg</div>
            <div class="assignments__grid_sub_item">(Russia)</div>
            <div class="assignments__grid_sub_item">
              <div class="assignments__image">
                <img
                  src="../../static/cv/images/images/icons8-россия-48.png"
                  alt="Russian flag"
                />
              </div>
            </div>
          </div>

          <div class="assignments__grid_item underline short-term_n02_com">
            <div class="assignments__item_inner">
              <div class="assignments__entity">
                <div class="assignments__sub-entity">
                  <div class="assignments__image flag">
                    <img
                      src="../../static/cv/images/images/icons8-венгрия-48.png"
                      alt="Hungarian flag"
                    />
                  </div>
                  <div class="assignments__grid_sub_item text-left">
                    Hydea Consulting Ltd (HU)
                  </div>
                </div>
              </div>
              <div class="assignments__entity">
                Andrassy str. 128, I/6, Budapest, 1062, Hungary
              </div>
              <div class="assignments__entity">
                tel. +36-1-354-2440 | hydeaconsulting@hydea.hu
              </div>
            </div>
          </div>

          <div class="assignments__grid_item underline short-term_n02_pos">
            <div class="assignments__item_inner">
              <div class="assignments__entity">
                <div class="assignments__grid_item">
                  <div class="assignments__grid_sub_item">
                    Evaluator of IBPP Concept Notes
                  </div>
                </div>
              </div>
              <div class="assignments__entity centralised">
                <div class="assignments__dropdown">
                  <img
                    class="document"
                    src="../../static/cv/images/images_assignments/Hydea_icon.jpg"
                    alt="Short-term assignment for Hydea"
                    width="100"
                    height="150"
                  />
                  <div class="assignments__dropdown-content-center">
                    <img
                      src="../../static/cv/images/images_assignments/Hydea.jpg"
                      alt="Short-term assignment for GTZ"
                      width="500"
                      height="700"
                    />
                    <div class="assignments__description">
                      The Reference Letter from the Contractor
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="assignments__grid_item">
            <div class="assignments__grid_sub_item text-left inline_box">
              <span class="simply_bold">Framework Contract</span>
              EUROPEAID/123314/C/SER/ multi - Lot 2 “Evaluation of calls for
              proposals regarding projects with a value of less than EUR 500 000
              and in accordance wit the letter of contract 2007/147214”
              <br /><br />
              <span class="simply_bold">Project</span>: “Assessment of IBPP
              Civil Society Concept Notes 2008 – Russia” (N° ENPI/2008/157-798)
              The services provided under this project included the technical
              evaluation of the applications submitted under the ongoing IBPP
              Civil Society and Local Initiatives restricted call for proposal
              (Reference: EuropeAid/126915/L/ACT/RU) <br /><br />
              <span class="simply_bold"
                >35 IBPP Concept Notes have been evaluated.</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ----------------Assignment No.3 ------------------------------ -->

    <div class="shadow">
      <div class="assignments__inner">
        <!-- ---------------- Table head -------------------------- -->

        <div class="assignments__grid_box">
          <div class="assignments__grid_item height_3_lines table_head">
            Date <br />(to–from)
          </div>
          <div class="assignments__grid_item table_head short-term_n03_loc">
            Location
          </div>
          <div class="assignments__grid_item table_head short-term_n03_com">
            Company & <br />Reference person
          </div>
          <div class="assignments__grid_item table_head short-term_n03_pos">
            Position
          </div>
          <div class="assignments__grid_item table_head">Duties</div>
        </div>
        <hr />
        <!-- ---------------- Table content -------------------------- -->
        <div class="assignments__grid_box">
          <div class="assignments__grid_item underline height_3_lines">
            <div class="assignments__grid_sub_item">13.05.1996</div>
            <div class="assignments__grid_sub_item">–</div>
            <div class="assignments__grid_sub_item">24.04 1996</div>
          </div>
          <div class="assignments__grid_item underline short-term_n03_loc">
            <div class="assignments__grid_sub_item">Kampala</div>
            <div class="assignments__grid_sub_item">(Uganda)</div>
            <div class="assignments__grid_sub_item">
              <div class="assignments__image">
                <img
                  src="../../static/cv/images/images/icons8-уганда-48.png"
                  alt="Ugandian flag"
                />
              </div>
            </div>
            <div class="assignments__grid_sub_item">Momdassa</div>
            <div class="assignments__grid_sub_item">(Kenya)</div>
            <div class="assignments__grid_sub_item">
              <div class="assignments__image">
                <img
                  src="../../static/cv/images/images/icons8-кения-48.png"
                  alt="Kenyan flag"
                />
              </div>
            </div>
          </div>

          <div class="assignments__grid_item underline short-term_n03_com">
            <div class="assignments__item_inner">
              <div class="assignments__entity">
                <div class="assignments__sub-entity">
                  <div class="assignments__image flag">
                    <img
                      src="../../static/cv/images/images/icons8-германия-48.png"
                      alt="German flag"
                    />
                  </div>
                  <div class="assignments__grid_sub_item text-left">
                    Small and Medium Enterprise Development Programme GTZ (DE)
                  </div>
                </div>
              </div>
              <div class="assignments__entity">Reference person:</div>
              <div class="assignments__entity">
                Mr. Peter Wedemeyer, GTZ/UMA-USSIA Programme Director
              </div>
              <div class="assignments__entity">
                Project Administration Service, P.O. Box 10346, Kampala, Uganda,
              </div>
              <div class="assignments__entity">tel. +41-236-178</div>
            </div>
          </div>

          <div class="assignments__grid_item underline short-term_n03_pos">
            <div class="assignments__item_inner">
              <div class="assignments__entity">
                <div class="assignments__grid_item">
                  <div class="assignments__grid_sub_item">Training Expert</div>
                </div>
              </div>
              <div class="assignments__entity centralised">
                <div class="assignments__dropup">
                  <img
                    class="document"
                    src="../../static/cv/images/images_assignments/GTZ-1_icon.jpg"
                    alt="Short-term assignment for GTZ"
                    width="50"
                    height="75"
                  />
                  <div class="assignments__dropup-content-center">
                    <img
                      src="../../static/cv/images/images_assignments/GTZ-1.jpg"
                      alt="Short-term assignment for GTZ"
                      width="500"
                      height="700"
                    />
                    <div class="assignments__description">
                      The Reference Letter from the Contractor
                    </div>
                  </div>
                </div>
                <div class="assignments__dropup">
                  <img
                    class="document"
                    src="../../static/cv/images/images_assignments/GTZ-2_icon.jpg"
                    alt="Short-term assignment for GTZ"
                    width="50"
                    height="75"
                  />
                  <div class="assignments__dropup-content-right">
                    <img
                      src="../../static/cv/images/images_assignments/GTZ-2.jpg"
                      alt="Short-term assignment for GTZ"
                      width="500"
                      height="700"
                    />
                    <div class="assignments__description">
                      The Reference Letter from the Contractor
                    </div>
                  </div>
                </div>
              </div>
              <div class="assignments__entity centralised">
                <div class="assignments__dropup">
                  <img
                    class="document"
                    src="../../static/cv/images/images_assignments/GTZ-3_icon.jpg"
                    alt="Short-term assignment for GTZ"
                    width="50"
                    height="75"
                  />
                  <div class="assignments__dropup-content-right">
                    <img
                      src="../../static/cv/images/images_assignments/GTZ-3.jpg"
                      alt="Short-term assignment for GTZ"
                      width="500"
                      height="700"
                    />
                    <div class="assignments__description">
                      The Reference Letter from the Contractor
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="assignments__grid_item">
            <div class="assignments__grid_sub_item text-left inline_box">
              <span class="simply_bold">Management Training</span>
              (preparation of training modules for management training,
              execution of the training, course evaluation, reporting);<br /><br />
              <span class="simply_bold"
                >Training for Business Plan and Feasibility Study Preparation
                based on UNIDO COMFAR software </span
              >(preparation of training modules for the training, execution of
              the training, course evaluation, reporting); <br /><br />
              <span class="simply_bold">Training for Consultancy</span>
              (preparation of training modules for consultancy training,
              execution of the training, course evaluation, reporting)
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ----------------Assignment No.4 ------------------------------ -->

    <div class="shadow">
      <div class="assignments__inner">
        <!-- ---------------- Table head -------------------------- -->

        <div class="assignments__grid_box">
          <div class="assignments__grid_item height_3_lines table_head">
            Date <br />(to–from)
          </div>
          <div class="assignments__grid_item height_3_lines table_head">
            Location
          </div>
          <div class="assignments__grid_item table_head short-term_n04_com">
            Company & <br />Reference person
          </div>
          <div class="assignments__grid_item table_head short-term_n04_pos">
            Position
          </div>
          <div class="assignments__grid_item table_head">Duties</div>
        </div>
        <hr />
        <!-- ---------------- Table content -------------------------- -->
        <div class="assignments__grid_box">
          <div class="assignments__grid_item underline height_3_lines">
            <div class="assignments__grid_sub_item">15.11.1995</div>
            <div class="assignments__grid_sub_item">–</div>
            <div class="assignments__grid_sub_item">30.10 1995</div>
          </div>
          <div class="assignments__grid_item underline height_3_lines">
            <div class="assignments__grid_sub_item">Kampala</div>
            <div class="assignments__grid_sub_item">(Uganda)</div>
            <div class="assignments__grid_sub_item">
              <div class="assignments__image">
                <img
                  src="../../static/cv/images/images/icons8-уганда-48.png"
                  alt="Ugandian flag"
                />
              </div>
            </div>
          </div>

          <div class="assignments__grid_item underline short-term_n04_com">
            <div class="assignments__item_inner">
              <div class="assignments__entity">
                <div class="assignments__sub-entity">
                  <div class="assignments__image flag">
                    <img
                      src="../../static/cv/images/images/icons8-германия-48.png"
                      alt="German flag"
                    />
                  </div>
                  <div class="assignments__grid_sub_item text-left">
                    Small and Medium Enterprise Development Programme GTZ (DE)
                  </div>
                </div>
              </div>
              <div class="assignments__entity">Reference person:</div>
              <div class="assignments__entity">
                Mr. Peter Wedemeyer, GTZ/UMA-USSIA Programme Director
              </div>
              <div class="assignments__entity">
                Project Administration Service, P.O. Box 10346, Kampala, Uganda,
              </div>
              <div class="assignments__entity">tel. +41-236-178</div>
            </div>
          </div>

          <div class="assignments__grid_item underline short-term_n04_pos">
            <div class="assignments__item_inner">
              <div class="assignments__entity">
                <div class="assignments__grid_item">
                  <div class="assignments__grid_sub_item">Training Expert</div>
                </div>
              </div>
              <div class="assignments__entity centralised">
                <div class="assignments__dropup">
                  <img
                    class="document"
                    src="../../static/cv/images/images_assignments/Seminar-05_icon.jpg"
                    alt="Short-term assignment for GTZ"
                    width="50"
                    height="75"
                  />
                  <div class="assignments__dropup-content-center">
                    <img
                      src="../../static/cv/images/images_assignments/Seminar-05.jpg"
                      alt="Short-term assignment for GTZ"
                      width="500"
                      height="700"
                    />
                    <div class="assignments__description">
                      The Reference Letter from the Contractor
                    </div>
                  </div>
                </div>
                <div class="assignments__dropup">
                  <img
                    class="document"
                    src="../../static/cv/images/images_assignments/Seminar-06_icon.jpg"
                    alt="Short-term assignment for GTZ"
                    width="50"
                    height="75"
                  />
                  <div class="assignments__dropup-content-right">
                    <img
                      src="../../static/cv/images/images_assignments/Seminar-06.jpg"
                      alt="Short-term assignment for GTZ"
                      width="500"
                      height="700"
                    />
                    <div class="assignments__description">
                      The Reference Letter from the Contractor
                    </div>
                  </div>
                </div>
              </div>
              <div class="assignments__entity centralised">
                <div class="assignments__dropup">
                  <img
                    class="document"
                    src="../../static/cv/images/images_assignments/Seminar-07_icon.jpg"
                    alt="Short-term assignment for GTZ"
                    width="50"
                    height="75"
                  />
                  <div class="assignments__dropup-content-center">
                    <img
                      src="../../static/cv/images/images_assignments/Seminar-07.jpg"
                      alt="Short-term assignment for GTZ"
                      width="500"
                      height="700"
                    />
                    <div class="assignments__description">
                      The Reference Letter from the Contractor
                    </div>
                  </div>
                </div>
                <div class="assignments__dropup">
                  <img
                    class="document"
                    src="../../static/cv/images/images_assignments/Seminar-08_icon.jpg"
                    alt="Short-term assignment for GTZ"
                    width="50"
                    height="75"
                  />
                  <div class="assignments__dropup-content-right">
                    <img
                      src="../../static/cv/images/images_assignments/Seminar-08.jpg"
                      alt="Short-term assignment for GTZ"
                      width="500"
                      height="700"
                    />
                    <div class="assignments__description">
                      The Reference Letter from the Contractor
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="assignments__grid_item">
            <div class="assignments__grid_sub_item text-left inline_box">
              <span class="simply_bold">Management Training</span>
              (preparation of training modules for management training,
              execution of the training, course evaluation, reporting);<br /><br />
              <span class="simply_bold"
                >Training for Business Plan and Feasibility Study Preparation
                based on UNIDO COMFAR software </span
              >(preparation of training modules for the training, execution of
              the training, course evaluation, reporting); <br /><br />
              <span class="simply_bold">Training for Consultancy</span>
              (preparation of training modules for consultancy training,
              execution of the training, course evaluation, reporting)
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ----------------Assignment No.5 ------------------------------ -->

    <div class="shadow">
      <div class="assignments__inner">
        <!-- ---------------- Table head -------------------------- -->

        <div class="assignments__grid_box">
          <div class="assignments__grid_item height_3_lines table_head">
            Date <br />(to–from)
          </div>
          <div class="assignments__grid_item height_3_lines table_head">
            Location
          </div>
          <div class="assignments__grid_item table_head short-term_n05_com">
            Company & <br />Reference person
          </div>
          <div class="assignments__grid_item table_head short-term_n05_pos">
            Position
          </div>
          <div class="assignments__grid_item table_head">Duties</div>
        </div>
        <hr />
        <!-- ---------------- Table content -------------------------- -->
        <div class="assignments__grid_box">
          <div class="assignments__grid_item underline height_3_lines">
            <div class="assignments__grid_sub_item">07.06.1995</div>
            <div class="assignments__grid_sub_item">–</div>
            <div class="assignments__grid_sub_item">26.05 1995</div>
          </div>
          <div class="assignments__grid_item underline height_3_lines">
            <div class="assignments__grid_sub_item">Skopje</div>
            <div class="assignments__grid_sub_item">(Macedonia)</div>
            <div class="assignments__grid_sub_item">
              <div class="assignments__image">
                <img
                  src="../../static/cv/images/images/icons8-македония-48.png"
                  alt="Macedonian flag"
                />
              </div>
            </div>
          </div>

          <div class="assignments__grid_item underline short-term_n05_com">
            <div class="assignments__item_inner">
              <div class="assignments__entity">
                <div class="assignments__sub-entity">
                  <div class="assignments__image flag">
                    <img
                      src="../../static/cv/images/images/icons8-германия-48.png"
                      alt="German flag"
                    />
                  </div>
                  <div class="assignments__grid_sub_item text-left">
                    Economic Re-Integration Programme Government of
                    Nordrhein-Westfalen, PEM (DE)
                  </div>
                </div>
              </div>
              <div class="assignments__entity">Reference person:</div>
              <div class="assignments__entity">
                Mr. Peter Wedemeyer, Programme Director
              </div>
              <div class="assignments__entity">
                PEM GmbH, Muendelheimer Weg 9, Duesseldorf 40472, Germany
              </div>
              <div class="assignments__entity">tel. +49-211-414021</div>
            </div>
          </div>

          <div class="assignments__grid_item underline short-term_n05_pos">
            <div class="assignments__item_inner">
              <div class="assignments__entity">
                <div class="assignments__grid_item">
                  <div class="assignments__grid_sub_item">Training Expert</div>
                </div>
              </div>
              <div class="assignments__entity centralised">
                <div class="assignments__dropup">
                  <img
                    class="document"
                    src="../../static/cv/images/images_assignments/PEM_resized.jpg"
                    alt="Short-term assignment for PEM"
                    width="100"
                    height="150"
                  />
                  <div class="assignments__dropup-content-center">
                    <img
                      src="../../static/cv/images/images_assignments/PEM.jpg"
                      alt="Short-term assignment for PEM"
                      width="500"
                      height="700"
                    />
                    <div class="assignments__description">
                      The Reference Letter from the Contractor
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="assignments__grid_item">
            <div class="assignments__grid_sub_item text-left inline_box">
              <span class="simply_bold"
                >Training for Business Development
              </span>
              (preparation of training modules for Business Development,
              execution of the training, course evaluation, reporting);
              <span class="simply_bold"
                >Development training manuals for Business Analysis</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- =================== Training training ================= -->
    <!-- -----------------Box No.2-1 --------------------------- -->
    <div class="shadow training__given">
      <div class="span10 training__box-title">
        Seminars on Project Cycle Management I carried out for various target
        groups of NGOs and universities in the period of 2000 – 2008
      </div>

      <div class="span2 certificate_icon training__dropup">
        <img
          src="../../static/cv/images/images_education/LSO_LETTER_icon.jpg"
          alt="diploma main"
          width="80"
          height="120"
        />
        <div class="span2 training__dropup-content-left">
          <img
            src="../../static/cv/images/images_education/LSO_LETTER.jpg"
            alt="diploma main"
            width="390"
            height="600"
          />
          <div class="training__description">Supporting Letter</div>
        </div>
      </div>

      <div class="span2 certificate_icon training__dropup">
        <img
          src="../../static/cv/images/images_education/LSO_Seminars-01_icon.jpg"
          alt="diploma main"
          width="80"
          height="120"
        />
        <div class="span2 training__dropup-content-left">
          <img
            src="../../static/cv/images/images_education/LSO_Seminars-01.jpg"
            alt="diploma main"
            width="390"
            height="600"
          />
          <div class="training__description">List of Seminars</div>
        </div>
      </div>

      <div class="span2 certificate_icon training__dropup">
        <img
          src="../../static/cv/images/images_education/LSO_Seminars-02_icon.jpg"
          alt="diploma main"
          width="80"
          height="120"
        />
        <div class="span2 training__dropup-content-center">
          <img
            src="../../static/cv/images/images_education/LSO_Seminars-02.jpg"
            alt="diploma main"
            width="390"
            height="600"
          />
          <div class="training__description">List of Seminars</div>
        </div>
      </div>

      <div class="span2 certificate_icon training__dropup">
        <img
          src="../../static/cv/images/images_education/LSO_Seminars-03_icon.jpg"
          alt="diploma main"
          width="80"
          height="120"
        />
        <div class="span2 training__dropup-content-right">
          <img
            src="../../static/cv/images/images_education/LSO_Seminars-03.jpg"
            alt="diploma main"
            width="390"
            height="600"
          />
          <div class="training__description">List of Seminars</div>
        </div>
      </div>

      <div class="span2 certificate_icon training__dropup">
        <img
          src="../../static/cv/images/images_education/LSO_Seminars-04_icon.jpg"
          alt="diploma main"
          width="80"
          height="120"
        />
        <div class="span2 training__dropup-content-right">
          <img
            src="../../static/cv/images/images_education/LSO_Seminars-04.jpg"
            alt="diploma main"
            width="390"
            height="600"
          />
          <div class="training__description">List of Seminars</div>
        </div>
      </div>

      <!-- -----------------Box No.2-2 --------------------------- -->

      <div class="span10 training__box-title-including">
        ... including the period of 2000 – 2003
      </div>
      <div class="span4 box_left certificate_icon training__dropup">
        <img
          src="../../static/cv/images/images_education/Seminars 2003-1_icon.jpg"
          alt="diploma main"
          width="80"
          height="120"
        />
        <div class="training__dropup-content-left">
          <img
            src="../../static/cv/images/images_education/Seminars 2003-1.jpg"
            alt="diploma main"
            width="390"
            height="600"
          />
          <div class="training__description">Supporting Letter</div>
        </div>
      </div>

      <div class="span2"></div>

      <div class="span4 box_right certificate_icon training__dropup">
        <img
          src="../../static/cv/images/images_education/Seminars 2003-2_icon.jpg"
          alt="diploma main"
          width="80"
          height="120"
        />
        <div class="training__dropup-content-right">
          <img
            src="../../static/cv/images/images_education/Seminars 2003-2.jpg"
            alt="diploma main"
            width="390"
            height="600"
          />
          <div class="training__description">List of Seminars</div>
        </div>
      </div>
    </div>

    <!-- -----------------Box No.3 --------------------------- -->

    <div class="training__given">
      <div class="span3 training__box-title">
        Business seminars I carried out for SMEs
      </div>

      <div class="certificate_icon training__dropup">
        <img
          src="../../static/cv/images/images_education/NGO_LETTER_icon.jpg"
          alt="Business seminars"
          width="80"
          height="120"
        />
        <div class="training__dropup-content-left">
          <img
            src="../../static/cv/images/images_education/NGO_LETTER.jpg"
            alt="Business seminars"
            width="390"
            height="600"
          />
          <div class="training__description">Supporting Letter</div>
        </div>
      </div>

      <div class="certificate_icon training__dropup">
        <img
          src="../../static/cv/images/images_education/NGO_LETTER-seminars-1_icon.jpg"
          alt="Business seminars"
          width="80"
          height="120"
        />
        <div class="training__dropup-content-center">
          <img
            src="../../static/cv/images/images_education/NGO_LETTER-seminars-1.jpg"
            alt="Business seminars"
            width="390"
            height="600"
          />
          <div class="training__description">List of Seminars</div>
        </div>
      </div>

      <div class="certificate_icon training__dropup">
        <img
          src="../../static/cv/images/images_education/NGO_LETTER-seminars-2_icon.jpg"
          alt="Business seminars"
          width="80"
          height="120"
        />
        <div class="training__dropup-content-right">
          <img
            src="../../static/cv/images/images_education/NGO_LETTER-seminars-2.jpg"
            alt="Business seminars"
            width="390"
            height="600"
          />
          <div class="training__description">List of Seminars</div>
        </div>
      </div>
    </div>
  </div>
</section>

<button onclick="topFunction()" id="myBtn" title="Go to top">
  Return to the Top
</button>

{% endblock content %}
