<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link
      rel="icon"
      href="../../static/cv/images/favicon.ico"
      type="image/x-icon"
    />

    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'cv/css/main_styles.css' %}"
    />

    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
    />

    <title>{{ title }}</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="container">
          <div class="header__inner">
            <div class="header__drop">
              <div class="topnav" id="myTopnav">
                <a href="{% url 'home' %}" class="navbar_active">Home</a>
                <div class="navbar_dropdown">
                  <button class="dropbtn">
                    Education
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="{% url 'university' %}"
                      >Saint-Petersburg State Marine Technical University</a
                    >
                    <a href="{% url 'mba' %}"
                      >The Urals-Siberia Institute of Business</a
                    >
                    <a href="{% url 'courses' %}">Training Courses</a>
                    <a href="{% url 'it' %}">IT Course</a>
                  </div>
                </div>
                <a href="{% url 'assignments' %}">Long-Term Assignments</a>
                <a href="{% url 'assignments_st' %}">Short-Term Assignments</a>
                <a
                  href="javascript:void(0);"
                  style="font-size: 15px"
                  class="icon"
                  onclick="myFunction()"
                  >&#9776;</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ======================================================== -->
      <main>{% block content %} {% endblock content %}</main>
      <!-- ======================================================== -->
      <!-- <div class="footer">
        <div class="container">
          <div class="footer__inner">
            <div class="footer__drop">
              <div class="footer__dropup">
                <button class="footer__dropbtn">Навигация</button>
                <div class="footer__dropup-content">
                  {% block footmenu %} {% for m in menu %}
                  <a href="{% url m.url_name %}">{{m.title}}</a>
                  {% endfor %}{% endblock footmenu %}
                </div>
              </div>
            </div>

            <div class="footer__menu-item">© Copyright 2023</div>
          </div>
        </div>
      </div> -->
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script src="{% static 'cv/js/main.js' %}"></script>
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
</html>
