{% extends 'cv/base.html' %} {% block content %}

<div class="container">
  <div class="title">Seminars where I was trained</div>
  <div class="seminars">
    <div class="seminars__card-one">
      <div class="certificate__icon seminars__drop">
        <img
          src="../../static/cv/images/images_education/Seminar-01-icon.jpg"
          alt="diploma main"
          width="160"
          height="240"
        />
        <div class="seminars__drop-content-left-left">
          <img
            src="../../static/cv/images/images_education/Seminar-01.jpg"
            alt="diploma main"
            width="415"
            height="600"
          />
          <div class="seminars__description">Certificate of Attendance</div>
        </div>
      </div>
    </div>

    <div class="seminars__card-two seminars">
      <div class="certificate__icon seminars__drop">
        <img
          src="../../static/cv/images/images_education/Seminar-02-icon.jpg"
          alt="diploma main"
          width="340"
          height="240"
        />
        <div class="seminars__drop-content-left">
          <img
            src="../../static/cv/images/images_education/Seminar-02.jpg"
            alt="diploma main"
            width="850"
            height="600"
          />
          <div class="seminars__description">Certificate of Attendance</div>
        </div>
      </div>
    </div>

    <div class="seminars__card-three seminars">
      <div class="certificate__icon seminars__drop">
        <img
          src="../../static/cv/images/images_education/Seminar-03-icon.jpg"
          alt="diploma main"
          width="340"
          height="240"
        />
        <div class="seminars__drop-content-right">
          <img
            src="../../static/cv/images/images_education/Seminar-03.jpg"
            alt="diploma main"
            width="762"
            height="600"
          />
          <div class="seminars__description">Certificate of Attendance</div>
        </div>
      </div>
    </div>

    <div class="seminars__card-four">
      <div class="certificate__icon seminars__drop">
        <img
          src="../../static/cv/images/images_education/Seminar-04-icon.jpg"
          alt="diploma main"
          width="160"
          height="240"
        />
        <div class="seminars__drop-content-right-right">
          <img
            src="../../static/cv/images/images_education/Seminar-04.jpg"
            alt="diploma main"
            width="448"
            height="600"
          />
          <div class="seminars__description">Certificate of Attendance</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
