{% extends 'cv/base.html' %} {% block content %}

<div class="container">
  <div class="usib">
    <div class="usib__head-box">
      <div class="usib__images">
        <div class="usib__logo">
          <img
            src="../../static/cv/images/images_education/usib-logo.jpg"
            alt="Logo of USIB"
          />
        </div>
        <div class="usib__diploma usib__dropup">
          <img
            src="../../static/cv/images/images_education/MBA-diploma.jpg"
            alt="diploma main"
            width="220"
            height="150"
          />
          <span class="click_on_image">
            Move the mouse over the image below to open the dropdown
            content.</span
          >
          <div class="usib__dropup-content">
            <img
              src="../../static/cv/images/images_education/MBA-diploma.jpg"
              alt="MBA diploma"
              width="865"
              height="604"
            />
            <div class="usib__description">
              Diploma of Master of Business Administration
            </div>
          </div>
        </div>
      </div>
      <div class="usib__titles">
        <div class="usib__title">The Urals-Siberia Institute of Business</div>
        <div class="usib__faculty">Master of Business Administration</div>
        <div class="usib__year">2001-2003, Ekaterinburg, Russia</div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
