{% extends 'cv/base.html' %} {% block content %}

<div class="container">
  <div class="skillfactory">
    <div class="skillfactory__image">
      <img
        src="../../static/cv/images/images_education/Skillfactory_Certificate.png"
        alt="Skillfactory certificate"
      />
    </div>

    <div class="skillfactory__course">
      <div class="skillfactory__title">The main sections of the course:</div>
      <ol>
        <li>Introduction to Python</li>
        <li>Object Oriented Programming</li>
        <li>
          Backend development with Python and Django (Django, PostgreSQL,
          Celery, Redis, Django REST Framework )
        </li>
        <li>
          Website layout and front-end development in JavaScript (JavaScript,
          AJAX, HTML, CSS, SASS)
        </li>
        <li>Frontend development frameworks (React and Redux)</li>
        <li>
          Full stack development (Creating a modern web application with Django
          and React, Client-server communication via web sockets)
        </li>
        <li>DevOps (Linux, Docker)</li>
      </ol>
    </div>
  </div>
</div>

{% endblock content %}
