{% extends 'cv/base.html' %} {% block content %}

<div class="container">
  <div class="university">
    <div class="university__head-box">
      <div class="university__heading university-name tooltip">
        Leningrad Shipbuilding Institute
        <span class="tooltiptext"
          >The Leningrad Shipbuilding Institute (LKI) was created in 1930 by
          introducing a shipbuilding department from the Leningrad Polytechnic
          Institute. The new institute had about 200 students after its
          formation.</span
        >
      </div>
      <div class="university__heading university-name tooltip">
        Saint-Petersburg State Marine Technical University
        <span class="tooltiptext"
          >Санкт-Петербу́ргский госуда́рственный морско́й техни́ческий университе́т
          (до 1990 года — Ленинградский ордена Ленина кораблестроительный
          институт (неофициально — Корабелка), в 1990—1992 годах — Ленинградский
          государственный морской технический университет) — высшее учебное
          заведение технического профиля в Санкт-Петербурге. Единственное в
          России учебное заведение, в котором на трёх основных факультетах
          готовят морских инженеров-специалистов мирового класса по
          проектированию, постройке и технической эксплуатации морских судов,
          боевых надводных кораблей и подводных лодок, оружия, судовых
          энергетических установок, приборов, технических средств обеспечения
          разведки и добычи нефти, газа и других полезных ископаемых на морском
          дне.</span
        >
      </div>
      <div class="university__heading faculty-name">
        Faculty of Engineering and Economy, <br />1988-1993
      </div>
      <div class="university__diploma">
        <div class="university__diploma-icon dropdown">
          <img
            src="../../static/cv/images/images_education/diploma_1_resized.jpg"
            alt="diploma main"
          />
          <span class="click_on_image">
            <br />Move the mouse over the image below <br />
            to open the dropdown content.</span
          >
          <div class="dropdown-content">
            <img
              id="diploma-extended"
              src="../../static/cv/images/images_education/diploma_1.jpg"
              alt="diploma main"
            />
            <div class="university__desc">
              Diploma of Master of Economy and Management of Enterprises
            </div>
          </div>
        </div>
        <div class="university__specialization">
          Master of Economy and Management of Enterprises
        </div>
      </div>
    </div>

    <div class="university__gridbox">
      <div class="university__grid-item">
        <div class="university__subtitle-left">
          Course of Naval Education <br />
          1990-1993
        </div>
        <div class="university__image">
          <img
            src="../../static/cv/images/images_education/Navy-logo.jpg"
            alt="Navy-logo"
          />
        </div>
        <!-- Swiper Cube Slider -->
        <div class="university__slider">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="../../static/cv/images/images_education/navy-01.jpg"
                  alt="navy-01.jpg"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="../../static/cv/images/images_education/navy-04.jpg"
                  alt="navy-04.jpg"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="../../static/cv/images/images_education/navy-02.jpg"
                  alt="navy-02.jpg"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="../../static/cv/images/images_education/navy-03.jpg"
                  alt="navy-03.jpg"
                />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>

      <div class="university__grid-item">
        <div class="university__subtitle-right">
          Student's Construction Team <br />
          summers of 1989 and 1990
        </div>

        <div class="university__image">
          <img
            src="../../static/cv/images/images_education/вссо-лого.jpg"
            alt="VSSO-logo"
          />
        </div>

        <!-- Swiper Cube Slider -->
        <div class="university__slider">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  src="../../static/cv/images/images_education/stroyotryad-01.jpg"
                  alt="stroyotryad-01.jpg"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="../../static/cv/images/images_education/stroyotryad-02.jpg"
                  alt="stroyotryad-02.jpg"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="../../static/cv/images/images_education/stroyotryad-03.jpg"
                  alt="stroyotryad-03.jpg"
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="../../static/cv/images/images_education/stroyotryad-04.jpg"
                  alt="stroyotryad-04.jpg"
                />
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="university__note-for-slider">
      ... using the left button of your mouse you can move the photo-sliders to
      the left-and-right
    </div>
  </div>
</div>
<!-- ================================================================================ -->

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    effect: "cube",
    grabCursor: true,
    cubeEffect: {
      shadow: true,
      slideShadows: true,
      shadowOffset: 20,
      shadowScale: 0.94,
    },
    pagination: {
      el: ".swiper-pagination",
    },
  });
</script>

{% endblock content %}
